In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [9]:
# load the velocity map table
vmap_df = pd.read_csv('/Users/jukesliu/Documents/TURNER/DATA/VELOCITY_MAPS/speed_timeseries_thru_pts.csv',
                      index_col=0)
vmap_df

,ds1,ds2,min_chip_size,sat,err_vx,err_vy,err_v,s1,s5,s9,s15,s18,s24,s28,s22,s17
0,20190327,20190401,160,S2,0.621113,1.766666,1.872670,645.234900,594.87720,653.250550,1633.046800,2232.888200,2710.370800,1506.488900,573.610800,707.003540
1,20150515,20150522,300,LS,0.013962,0.008276,0.016231,2.860045,5.66182,6.952041,7.474257,12.785855,27.424217,15.302672,3.499182,1.520792
2,20220519,20220522,200,S2,1.301522,2.252060,2.601103,932.092200,544.37550,697.192600,NaN,NaN,NaN,NaN,NaN,NaN
3,20200402,20200405,300,S2,3.426699,1.380143,3.694193,1720.836500,1881.64710,1008.269170,4278.400000,3244.549600,3242.822500,2146.830800,2947.166500,3303.494100
4,20180516,20180531,200,S2,0.689447,0.306537,0.754521,240.284440,224.83786,323.378330,508.883000,1163.835100,2492.757800,1184.115500,808.307100,310.958340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,20220117,20220202,200,LS,1.658890,1.602433,2.306449,1381.098600,223.07896,1025.982000,489.937930,3536.636500,NaN,3336.372000,NaN,619.964050
798,20181008,20181102,300,S2,0.520474,0.180974,0.551040,163.551470,223.81840,163.067470,219.486600,339.783750,NaN,NaN,NaN,138.618670
799,20190829,20190905,160,S2,1.424109,0.548287,1.526009,735.292900,677.60050,91.089830,933.570700,1113.891100,1461.734700,32.589287,212.456150,610.369800
800,20191025,20191109,200,S2,0.240768,0.165324,0.292063,11.406250,NaN,NaN,68.543040,247.573730,2140.846400,1200.284700,60.116215,62.705563
801,20190210,20190215,300,S2,0.722747,0.732274,1.028877,163.312640,237.68187,154.444050,700.254600,1923.331900,2413.197000,1034.956200,163.312640,237.348680

In [38]:
GPSfolder = '/Users/jukesliu/Documents/TURNER/DATA/GPS/HOURLY_GPS_RECORDS/'
for file in os.listdir(GPSfolder):
    if file.endswith('.csv'):
        station = file.split('_')[-2]+'_'+file.split('_')[-1][:-4] # grab station name from filename

        # load file
        GPS_df = pd.read_csv(GPSfolder+file)
        GPS_df.datetime = pd.to_datetime(GPS_df.datetime) # convert datetimes to dateteime objects
        t1 = np.min(GPS_df.datetime); t2 = np.max(GPS_df.datetime) # grab temporal coverage
        print(station, t1, t2)

G11_2108 2021-10-02 00:00:00 2022-03-08 10:00:00
G14_2008 2020-09-05 01:00:00 2021-03-02 23:00:00
G15_2106 2021-07-02 00:00:00 2021-09-02 12:00:00
G12_2008 2020-09-04 23:00:00 2020-10-30 09:00:00
E5_2108 2021-09-02 00:00:00 2022-02-27 18:00:00
G9_2110 2021-11-02 00:00:00 2021-12-24 12:00:00